body{
  width:100%;
  height:100%;  

  display:flex;
  flex-direction:column;
  align-items: center;
}

#map{
  display:flex;
  flex-direction:column;

  width:500px;
  height:500px;

  background-color:rgb(100, 100, 100);
}

#result{
  background-color:rgb(0, 0, 0);
  color:white;

  width:500px;
  height:500px;
}

.row{
  display:flex;
  flex-direction:row;

  width:100%;
  height:100%;

  background-color:pink;
}

.tile{
  width:100%;
  height:100%;
  background-color:blue;
}

.paints{

}

.paint-tile{
  width:50px;
  height:50px;
  /* background-color:red; */
}

.road{
  background-color:#FFA500;
}

.dirt{
  background-color: #964B00;
}

.wall{
  background-color: #FF0000;
}