@font-face {
  font-family: 'NESCyrillic';
  src: url('./fonts/NESCyrillic.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DisrespectfulTee';
  src: url('./fonts/DisrespectfulTee.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root{
  --shade-100: #3e3e3e;
  --shade-0: #ffffff;
  --primary-50: #fdf8f1;
  --primary-100: #f9e6cf;
  --primary-300: #f6ca9d;
  --primary-500: #e69c69;
  --primary-700: #bf6f4a;
  --primary-900: #8a4836;
  --secondary-500: #FFA800;
  --danger-500: #ff2525;
  --success-500: #27B510;

  color:white;
}
body{
  background-color: var(--shade-100);
  padding:40px 30px;
  margin:0;
}

h1,h2,h3,h4,h5,p{
  margin:0;
}
h1,h2,h3,h4,h5{
  font-weight:normal;
  font-family: "DisrespectfulTee";
}
p, input, button, label, select{
  font-family: "NESCyrillic";
}

h1{
  font-size: 45px;
}

h2{
  font-size: 21px;
}

p{
  font-size: 18px;
}

textarea,select{
  height: 20px;
}

button{
  border:none;
  padding:13px 47px;
  transition-property: background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}

button:hover{
  background-color:rgb(202, 202, 202);
}

button:active:hover{
  background-color:orange;
  color:white;
}

.row{
  display:flex;
  flex-direction: row;
}

.column{
  display:flex;
  flex-direction: column;
}
.justify-space-between{
  justify-content: space-between;
}
#map-maker-wrapper{
  width:100%;
  display:grid;
  grid-auto-flow: column;
  grid-template-columns: 330px 1fr;
  gap:10px;
}

/* menu styles */

#menu{
  gap:35px;
}

.menu-section{
  gap:16px;
}

.map-size{
  gap:9px;
}

#paints{
  display:grid;
  grid-template-columns: 1fr 1fr;
  margin-top:30px;
  gap:5px;
}

#paints div{
  display:flex;
  flex-direction:row;
  gap:20px;
}
#paints div h3{
  margin: 0;
}

.paint-header{
  font-size:14px;
}
.paint-tile{
  width:15px;
  height:15px;
  /* background-color:red; */
}

.road{
  background-color:#FFA500;
}

.dirt{
  background-color: #964B00;
}

.wall{
  background-color: #FF0000;
}

.spawn{
  background-color:#71c9ff;
}
.finish-up{
  background-color:#73ff71;
}
.finish-down{
  background-color:#ff29e2;
}

.bumper{
  background-color:#0027d2;
}

.check-point-r-road{
  background-color:rgb(187, 187, 187);
}
.check-point-r-dirt{
  background-color:rgb(216, 216, 216);
}

.check-point-l-road{
  background-color:rgb(78, 135, 162);
}
.check-point-l-dirt{
  background-color:rgb(72, 183, 216);
}

/* map styles */

#map-canvas-wrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
}

#map-canvas{
  image-rendering: pixelated;
  width:100%;
}